# ignore databases
*.sqlite
*.sqlite3

# python/django specifics
*.log
*.pot
*.pyc
local_settings.py

# vim
*.swp
*.swo

capturetheflag.esproj/user.christopherhunt.espressostorage

capturetheflag.esproj/Project.espressostorage
